div.game {
    position: absolute;
    width: 400px;
    height: 200px;
    border: 5px solid #A89283;
    border-radius: 15px;
    background-color: #EBD6B7;
    text-align: center;
}
div#game {
    left:35%;
    top: 100px;
}
div#game1 {
    left:35%;
    top: 350px;
}